* {
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(244, 244, 244);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}
