.tenzies-page {
  max-width: 480px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  justify-self: center;
  align-self: center;

  height: 100%;
}

.tenzies-page > * {
  width: 100%;
}

.tenzies-page > h1 {
  background-color: rgb(255, 255, 255);
  height: 60px;
  justify-self: center;
  align-content: center;

  border-radius: 10px 10px 0px 0px;
}

.tenzies-dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;

  margin: 20px 0px;
  padding: 20px;
}

.tenzies-die {
  background-color: white;
  color: black;
  border-radius: 10px;
  height: 50px;
  width: 50px;

  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.5rem;

  align-content: center;
  justify-content: center;

  border-width: 0px;
  box-shadow: 3px 3px 2px rgb(190, 203, 203);
}

.tenzies-die:hover {
  cursor: pointer;
  background-color: azure;
}

.tenzies-die:focus {
  border-style: groove;
  border-color: rgb(175, 219, 219);
  border-width: 3px;
  background-color: rgb(170, 241, 241);
}
