.tenzies-page {
  max-width: 480px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  justify-self: center;
  align-self: center;

  background-color: rgb(244, 244, 244);
  border-radius: 10px;
  padding: 20px;
}

.tenzies-page > * {
  width: 100%;
}

.tenzies-page > h1 {
  height: 60px;
  justify-self: center;
  align-content: center;

  border-radius: 10px 10px 0px 0px;
}

.tenzies-dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;

  margin: 20px 0px;
  padding: 20px;
}

.tenzies-restart-btn-container {
  width: 100%;
  padding: 20px;
}

.tenzies-restart-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgb(46, 46, 255);
  color: white;
}

.tenzies-restart-btn:hover {
  cursor: pointer;
  background-color: rgb(94, 94, 245);
}

.tenzies-die {
  background-color: white;
  color: black;
  border-radius: 10px;
  height: 50px;
  width: 50px;

  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.5rem;

  align-content: center;
  justify-content: center;

  border-width: 0px;
  box-shadow: 3px 3px 2px rgb(190, 203, 203);
}

.tenzies-die.correct {
  background-color: rgb(144, 240, 174);
}

.tenzies-die.false {
  background-color: rgb(240, 149, 144);
}

.tenzies-die:hover {
  cursor: pointer;
  background-color: azure;
}
